APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=http://localhost:8000
APP_PORT=8000
FRONTEND_PORT=3000
FORWARD_DB_PORT=5433
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

DB_DATABASE=weather
DB_USERNAME=weather
DB_PASSWORD=secret
